/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Slideshow container */
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Make the images invisible by default */
.containers {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.messageInfo{
  text-align: center;
}
.hide{
  display:none;
}
/* forward & Back buttons */
#back, #forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  border:none;
}

/* Place the "forward button" to the right */
#forward {
  right: 0;
  border-radius: 4px 0 0 4px;
  color:#F04091;

}

/*move "back button to left */
#back {
  left: 0em;
  border-radius: 4px 4px 0 0;
  color:#F04091;
}

/*when the user hovers,add a black background with some little opacity */
#back:hover, #forward:hover {
  background-color: rgba(0,0,0,0.8);
}


#drinkThumb{
  width:66%;
}
#logo{
  transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  
  border: none;
}
#main{
  z-index: 1;
  color:#F04091;
  position:fixed;
  bottom:45em;
  left:10em;
  width:400px;
  height:25em;
}
h1{
  /* text-transform: uppercase; */
  font: 4.5rem 'Dancing Script', cursive;
  text-shadow: white 1px 2px;
  margin-bottom: 2%;
}
input{
  background-color: none;
  height:45px;
  width:350px;
  margin-left: 5%;
  border-color:none;
  background-color: rgb(244, 244, 244);
  font-size: 2rem;
  opacity:.9;
  border:none;
  color:gray;
  padding-left:1%;
}
#check{
  height:45px;
  width:120px;
  border-radius: 4px 4px 4px 4px;
  background-color: #F04091;
  color:white;
  font:2.3rem 'Bebas Neue', cursive;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border:#F04091;
  opacity:.9;
}
h6{
  font-size:2rem;
  margin-top:8%;
  text-align: center;
  width:90%;
  background-color: white;
}
#drink{
  /* border:1px solid white;*/
  height: 550px;
  width:400px;
  background-color:white;
  box-shadow: 1px 1px 1px lightgray;
  border-radius: 3em;
  /* padding:1%; */
  /* z-index: 1; */
  color:#F04091;
  position:absolute;
  bottom:7em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:1rem;
}
.drink img{
  width:60%;
}
h3{
  width:80%;
  margin:0 0 3% 0;
  text-align: center;
  font-size:1.5em;
}
h2{
  font-size:2rem;
  letter-spacing: 0.03em;
}
h4{
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin:2% 0;
}
ul{
  width: 90%;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
li{
  list-style-type: none;
  padding:0 2% 0 0;
  text-align: center;
  font-size: 1.5rem;

}
/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
/* $laptop:1020px;
$tablet:724px;
$mobile:480px */
@media screen and (max-width:724px){
  #logo{
    width:760px;
  }
  #main{
    bottom:-1em;
    left:1em;
    padding:2%;
    height:15em;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #main h1{
    width:40%;
    font-size: 3.5rem;
  }
  #drink{
    position:absolute;
    bottom:12em;
  }
  h6{
    margin:2% 0;
  }
}
@media screen and (max-width:480px){
  #logo{
    margin: 0;
    width:480px;
    position:relative;
    top:20em;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    }
    #ma
  }
  #main{
    bottom:0em;
    padding:0;
    width:100%;
  }
  #main h1{
    font-size: 3rem;
  }
  #drink{
    position:absolute;
    bottom:12em;
  }
  h6{
    font-size: 1.5rem;
    position:fixed;
    bottom:10em;
    left:3em;
  }
/* Place the "forward button" to the right */
#forward {
  right: -0.5em;
  border-radius: 4px 0 0 4px;
  width:80px;
  font-size:1rem;
}
  #back {
    left: -0.5em;
    border-radius: 4px 4px 0 0;
  }
  input{
    background-color: none;
    height:45px;
    width:150px;
    margin-left: 0;
  }
  #check{
    height:45px;
    width:70px;
  }
}